body{
    background-color: #eee;
}

.first {
    background-color: white;
    width: 200px;
    height: 35px;
    margin-left: 50px;
    margin-top: 50px;
    position: relative;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0,0, 0.5);
    border-left: red 5px solid;
}

.first:hover {
    transform: scale(1.05, 1.05);
}

.second {
    background-color: white;
    width: 200px;
    height: 35px;
    margin-left: 50px;
    position: relative;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0,0, 0.5);
    border-left: green 5px solid;
}

.second:hover {
    box-shadow: 2px 2px 12px rgba(0, 0,0, 0.5);
}

.third {
    background-color: white;
    width: 200px;
    height: 35px;
    margin-left: 50px;
    position: relative;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0,0, 0.5);
    border-left: blue 5px solid;
}

.third:hover {
    background-color: lightblue;
}