body{
    background-color: #eee;
}

.grid {
    display: grid; /*grid usa todo el ancho disponible (inline-grid toma solo el ancho de los elementos)*/
    grid-template-rows: repeat(3, 50px);
    grid-template-columns: repeat(6, 1fr);
   /* grid-row-gap: 10px; */ /*definine la dimension de las filas*/
    /* grid-column-gap: 10px;*/ /*definine la dimension de las columnas*/
    grid-gap: 10px; /*agrega un espacio entre columnas y filas*/
}

.element {
    background-color: red;
}

.header {
    /*grid-column-start: 1;
    grid-column-end: 7;/* /* esto mismo se puede resumir en la siguiente linea de codigo*/
    grid-column: 1 / 7;
    /*grid-row-start: 1;
    grid-row-end: 3;*/ /* esto mismo se puede resumir en la siguiente linea de codigo*/
    grid-row: 1/3;
}