body{
    background-color: #eee;
    width: 300px;
}


.flex {
    display: flex;
    /*
    flex-direction: column-reverse;
    flex-direction: row;
    flex-direction: column;
    */
    flex-flow: row wrap;
    height: 300px;
}

/*  Todos los elementos hijos cuando el padre contiene la propiedad de display: flex;
    tendran por defecto la propiedad de order en 0 */
    
.primero {
    order: 0;
}

.segundo {
    order: 4;
}

.tercero {
    order: -1;
}